<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITBL:  SMS</title>


</head>
<div class="container-fluid">
    <div class="block-header">
        <span style="text-shadow: 2px 2px 2px #aaa;">OCCUPATION LIST</span>

    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body table-responsive table-bordered">
                    <button type="button" class="btn btn-sm bg-blue waves-effect pull-right" id="btnAdd" onClick="add(this)" data-toggle="tooltip" title="Add New">
                        <i class="material-icons">games</i>
                    </button><br><br>
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="classList">
                        <thead>
                        <tr>
                            <th class="align-center" style="width: 60px;">SL#</th>
                            <th class="align-left">OCCUPATION NAME</th>
                            <th class="align-center" style="width: 100px;">STATUS</th>
                            <th class="align-center" style="width: 120px;">ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="occupation,index: ${occupations}">
                            <td class="align-center"><span th:text="${index.index+1}"></span></td>
                            <td class="align-left"><span th:text="${occupation.occupationName}"></span></td>
                           <td class="align-center">
                                <span th:if="${occupation.status == 'Y'}">Active</span>
                                <span th:if="${occupation.status == 'N'}">Inactive</span>
                            </td>
                            <td class="align-center">
                                <input type="hidden" id="row_id" th:value="${occupation.id}">
                                <input type="hidden" id="f_occupation_name" th:value="${occupation.occupationName}">
                                <input type="hidden" id="f_status" th:value="${occupation.status}">
                                <a class="btn-edit btn btn-xs" onclick="edit(this)"><i class="material-icons">mode_edit</i></a>
                                <a class="btn-edit btn btn-xs" onclick="view(this)"><i class="material-icons">visibility</i></a>
                                <a class="btn-edit btn btn-xs" onclick="del(this)"><i class="material-icons">delete_forever</i></a>

                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="occupationModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header bg-blue-grey">
                    <button type="button" class="mod-cl close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title align-center" id="defaultModalLabel">OCCUPATION INFORMATION</h4>
                </div>
                <form method="post" id="occupationInfoForm" modelAttribute="occupationInfo">
                    <div class="modal-body">
                        <div class="alert-code alert-block alert-danger hidden"></div><br>
                        <input type="hidden" id="id" name="id" value=""/>
                        <div class="row">
                            <div class="col-md-6">
                                <span><b>OCCUPATION NAME :</b></span>
                                <div class="form-group">
                                    <input type="text" id="occupationName" name="occupationName" th:maxlength="30" value="" class="form-control"   autocomplete="off" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span><b>ACTIVITY STATUS</b></span>
                                <div class="form-group">
                                    <div class="demo-checkbox">
                                        <input type="checkbox" id="activity_status" class="filled-in chk-col-green">
                                        <label for="activity_status"><b><span class="check-status">Inactive ?</span></b></label>
                                        <input type="hidden" id="status" name="status" value="N">
                                    </div>
                                </div>
                            </div>
                            

                        </div>

                        
                    </div>
                    <div class="modal-footer" style="background-color: #ced9dc;">
                        <button type="submit" id="saveBtn" class="btn bg-green btn-sm waves-effect pull-right m-r-10">
                            <i class="material-icons">save</i>
                            <span>SAVE</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="occupationViewInfoModal" style="overflow: auto;"  role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

<style>
    .mod-cl {
        color: transparent;
        opacity: 1;
    }

    .alert-code {
        color: white;
    }

    html {
        overflow-y: scroll;
    }

    body {
        padding-right:0px !important;
        margin-right:0px !important;
    }

    body.modal-open {
        overflow: auto;
    }

    input, textarea {
        border: 1px solid #c8c7cc;
        border-radius: 4px !important;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        vertical-align: middle !important;
    }
</style>

<script>

    function chngLang(el){
        var link = $(el).attr('id');
        $.ajax({
            async : false,
            url : link ,
            success : function(result) {
                $("#view_page").html(result);
            },
            error: function(){
                console.log("this employee has no user id.");
            }
        });
    }

    $(".modal-header").on("mousedown", function(mousedownEvt) {
        var $draggable = $(this);
        var x = mousedownEvt.pageX - $draggable.offset().left,
            y = mousedownEvt.pageY - $draggable.offset().top;
        $("body").on("mousemove.draggable", function(mousemoveEvt) {
            $draggable.closest(".modal-dialog").offset({
                "left": mousemoveEvt.pageX - x,
                "top": mousemoveEvt.pageY - y
            });
        });
        $("body").one("mouseup", function() {
            $("body").off("mousemove.draggable");
        });
        $draggable.closest(".modal").one("bs.modal.hide", function() {
            $("body").off("mousemove.draggable");
        });
    });


    $('#activity_status').change(function() {
        if (this.checked) {
            $('#status').val('Y');
            $('.check-status').text('Active ?');
        }else{
            $('#status').val('N');
            $('.check-status').text('Inactive ?');
        }
    });



    function add(el) {
       $("#id").val("");
        $("#occupationName").val("");
       $("#occupationModal").modal();
        $(".modal-backdrop.fade.in").off("click");
        $(".modal").off("keydown");
        $(".alert").empty().addClass("hidden");
        $(".alert-code").empty().addClass("hidden");
    }

    /**************************Start of Row Edit Function******************************/

    function edit(el) {
        let id = $(el).closest("tr").find("#row_id").val();
        let occupationName = $(el).closest("tr").find("#f_occupation_name").val();
        let status = $(el).closest('tr').find("#f_status").val();

        $("#id").val(id);
        $("#occupationName").val(occupationName);

        if(status == 'Y'){
            $('#activity_status').prop('checked', true);
            $('#status').val('Y');
            $('.check-status').text('Active');
        }else{
            $('#activity_status').prop('checked', false);
            $('#status').val('N');
            $('.check-status').text('Inactive');
        }

        $("#occupationModal").modal('show');
        $(".modal-backdrop.fade.in").off("click");
        $(".modal").off("keydown");
        $(".alert-code").empty().addClass("hidden");
    };

    $("#occupationInfoForm").submit(function(event){
        event.preventDefault();
        var formData = $("#occupationInfoForm").serialize();

        if($(".alert-code").hasClass('hidden')){
            $.ajax({
                url : "occupation/saveOrUpdate",
                type: 'POST',
                data: formData,
                async: false,
                success: function (data) {
                    $("#occupationModal").modal('hide');
                    $('.modal-backdrop').remove();
                    $("#view_page").html(data);
                    sweetAlert("Saved!", "Your data has been Saved.", "success", 1000, false);
                },
                error: function(){
                    sweetAlert("Failed!", "Something went wrong.", "fail", 1000, false);
                }
            });
        }else{
            sweetAlert("Failed!", "Please remove all error, then submit again.", "warning", 1000, false);
        }
    });
    function view(el) {
        let id = $(el).closest("tr").find("#row_id").val();
        $.ajax({
            async : false,
            url : "occupation/" + id ,
            success : function(data) {
                $('#occupationViewInfoModal').modal('show').find('.modal-content').html(data);
                $(".modal-backdrop.fade.in").off("click");
                $(".modal").off("keydown");
                $(".md").css("display", "none");

            }
        });
    }
    function del(el) {
        var id = $(el).closest('tr').find("#row_id").val();
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this data!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel please!",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type : "GET",
                    url : "occupation/delete/" + id ,
                    success : function(data) {
                        $("#view_page").html(data);
                        sweetAlert("Deleted!", "Deleted Successfully", "success", 1000, false);
                    },
                    error: function(){
                        sweetAlert("Failed!", "Something going wrong.", "fail", 1000, false);
                    }
                });
            } else {
                sweetAlert("Cancelled", "Your data is safe :)", "error", 0, false);
            }
        });
    }

</script>

<!-- Jquery DataTable Plugin Js -->
<script src="js/pages/tables/jquery-datatable.js"></script>

</html>